<div class="w-full bg-yellow-circle relative pb-32 md:py-24 overflow-hidden md:overflow-unset">
  <div class="max-w-screen-xl md:mx-auto flex flex-col md:flex-row z-10 relative">
    <div class="md:w-2/5 sm:-mr-24 md:ml-32 sm:w-full">
      {% image image, "The space" %}
    </div>
    <div class="-mt-64 pt-0 pb-12 md:mt-0 md:w-3/5 content-end md:py-12">
      <h1 class="font-plex font-bold italic text-7xl leading-none w-1/2">
        {{ title }}
      </h1>
      <p class="font-plex text-base leading-65 md:w-1/2 pt-8 md:ml-32 mx-4 md:mx-0">
        {{ description }}
      </p>
    </div>
  </div>
</div>