<div class="w-full bg-yellow-circle relative py-24">
  <div class="max-w-screen-xl mx-auto flex flex-row z-10 relative">
    <div class="w-2/5 -mr-24">
      <img src="/_assets/img/home.png" class="object-contain" />
    </div>
    <div class="w-3/5 content-end py-12">
      <h1 class="font-plex font-bold italic text-6xl leading-none w-1/2">
        An artist-run space
      </h1>
      <p class="font-plex text-sm w-1/2 pt-8 ml-32">
        Officina Neukölln is a contemporary production, performance and exhibition workshop that fosters long-term collaboration between diverse working practices and multiple forms of exchange. It is an artist-run multi-disciplinary project space focusing on collective creative practices.
      </p>
    </div>
  </div>
</div>