<div class="bg-blue-custom flex z-10 relative pb-24">
  <div class="max-w-screen-xl mx-auto flex flex-row">
    <div class="w-1/4 mt-20 ml-40">
      <h2 class="leading-tight font-bold italic text-5xl text-salmon">
        Artist residency
      </h2>
      <p class="font-plex text-sm text-white">
        {{ artist_residency}}
      </p>
      <a href="/en/artists" class="text-blue-custom bg-white rounded-full px-8 py-2 mt-4 inline-block">Learn more</a>
    </div>
    <div class="ml-16 w-1/3">
      <img src="/_assets/img/artist-residency2.png" class="object-contain -mt-16" />
    </div>
  </div>
</div>