<div class="bg-blue-custom h-screen flex min-h-full z-10 relative">
  <div class="h-full max-w-screen-xl mx-auto flex flex-row">
    <div class="w-1/3">
      <h2 class="font-plex font-bold italic text-5xl text-salmon">
        Artist residency
      </h2>
      <p class="font-plex text-sm text-white">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <button class="text-blue-custom bg-white rounded-full px-8 py-2 mt-4">Learn more</button>
    </div>
    <div class="w-2/3">
      <img src="/_assets/img/artist-residency.png" class="object-contain" />
    </div>
  </div>
</div>