<div class="w-full md:mx-auto flex flex-col md:flex-row" id="contact">
  <div id="map" class="h-auto md:w-1/2"></div>
  <div class="md:w-1/2 bg-white z-10 relative min-h-180">
    <div class="px-4 py-16 flex flex-col gap-6">
      <h2 class="font-plex font-semibold text-xl text-center">
        Get in touch
      </h2>
      <p class="text-center">
        If you are interested in renting a desk, please fill out this form
      </p>
      <div class="text-center">
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSe_aJwPcxRE_1LtocSHlrjHqDOQhm763ElOiURhH6KCOzL96g/viewform"
          target="_blank"
          class="text-white text-smc font-bold font-bold bg-black px-8 py-2 mt-4 inline-block"
        >
          CLICK HERE FOR THE FORM
        </a>
      </div>
    </div>
  </div>
</div>
