<div id="cookie-banner" class="hidden bottom-0 left-0 right-0 bg-kobi z-401">
  <div class="p-6">
    <p>
      {{ ui.cookieText }}
    </p>
    <button
      id="accept-cookie"
      class="text-white text-smc font-bold font-bold bg-black px-8 py-2 mt-4 inline-block"
    >{{ ui.cookieAccept }}</button>
    <button
      id="decline-cookie"
      class="text-black text-smc font-bold font-bold border-black px-8 py-2 mt-4 inline-block"
    >{{ ui.cookieDecline }}</button>
  </div>
</div>
