<div id="cookie-banner" class="hidden bottom-0 left-0 right-0 bg-kobi z-401">
  <div class="p-6">
    <p>
      We use tracking cookies to understand how you use
      the website and help us improve it.
      Please accept cookies to help us improve.
    </p>
    <button
      id="accept-cookie"
      class="text-white text-smc font-bold font-bold bg-black px-8 py-2 mt-4 inline-block"
    >Accept cookies</button>
    <button
      id="decline-cookie"
      class="text-black text-smc font-bold font-bold border-black px-8 py-2 mt-4 inline-block"
    >Decline cookies</button>
  </div>
</div>
