<footer class="bg-black w-full h-48 text-white">
  <div class="text-sm max-w-screen-xl mx-4 md:mx-auto pt-12">
    <div>
      <div class="font-bold">Officina</div>
      <div>Karl-Marx-Straße 275 - 277</div>
      <div>12057 Berlin</div>
    </div>
    <div class="mt-4 font-bold text-xs">
      <a 
        href="https://www.facebook.com/OfficinaNeukoelln/" 
        target="_blank" 
        rel="noopener"
      >
        <img src="/_assets/img/fb.svg" class="inline" alt="fb logo" />
        <span class="ml-2">Facebook</span>
      </a>
      <a href="mailto:officina.neukoelln@gmail.com" class="ml-2">
        <img src="/_assets/img/fb.svg" class="inline" alt="email logo" />
        <span class="ml-2">Email</span>
      </a>
    </div>
    <div class="mt-4 text-xs">
      Made by <a href="https://loicnogu.es" class="underline" target="_blank">me</a> and <a href="https://christian-stoss.com" class="underline"  target="_blank">him</a>
    </div>
  </div>
</footer>