---
layout: layout.njk
---
<div class="max-w-screen-xl mx-4 md:mx-auto grid gap-4 md:grid-cols-4 pt-12 pb-24 md:pt-24 md:pb-24">
  <div class="md:col-span-2">
    <h1 class="font-bold italic text-5xl text-black leading-tight">
      {{ title }}
    </h1>
    <div class="text-sm">
      {{ content | safe }}
    </div>
  </div>
  {%- for photo in collections.photos -%}
    <figure>
      <img 
        src="{{ photo.data.image }}" 
        class="object-contain lightbox cursor-pointer lazy" 
        title="{{ photo.data.title }}"
      />
    </figure>
  {%- endfor -%}
</div>
