<header class="z-900 flex bg-white fixed top-0 inset-x-0 z-100 md:h-16 items-center">
  <div class="w-full max-w-screen-xl relative md:mx-auto px-4 flex flex-col md:flex-row">
    <div class="flex py-4 md:py-0">
      <button 
        type="button" 
        id="sidebar-open" 
        aria-label="Open the sidebar"
        class="flex mr-2 px-2 items-center lg:hidden text-black focus:outline-none focus:text-gray-700"
      >
        <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
      <a href="/en/" class="font-plex font-bold text-xl pt-1 md:pt-1">
        <img 
          src="/src/_assets/img/logo.gif"
          class="object-contain"
          height="59px"
          alt="Officina Neukölln" 
          title="Officina Neukölln" 
        />
      </a>
    </div>
    <div id="sidebar" class="flex flex-col ml-6 md:flex-row md:flex-grow md:justify-end hidden md:flex text-smc font-bold">
      <a href="/en/" class="py-2 px-4 my-3 mr-5">Home</a>
      <a href="/en/collective" class="py-2 px-4 my-3 mr-5">Our Collective</a>
      <a href="/en/artists" class="py-2 px-4 my-3 mr-5">Artist residency</a>
      <a href="/en/events" class="py-2 px-4 my-3 mr-5">Events</a>
      <a href="https://www.instagram.com/officinaneukoelln/" target="_blank" class="py-2 px-4 my-3 mr-5 bg-yellow-custom border-2 border-black">Instagram</a>
      <a href="/en/#contact" class="w-2/3 md:w-auto bg-black text-white py-2 px-4 my-3">Get in touch</a>
    </div>
  </div>
</header>
