<header
  class="z-900 flex bg-white fixed top-0 inset-x-0 z-100 md:h-16 items-center"
>
  <div
    class="w-full max-w-(--breakpoint-xl) relative md:mx-auto px-4 flex flex-col md:flex-row"
  >
    <div class="flex py-4 md:py-0">
      <button
        type="button"
        id="sidebar-open"
        aria-label="Open the sidebar"
        class="flex mr-2 px-2 items-center lg:hidden text-black focus:outline-hidden focus:text-gray-700"
      >
        <svg
          class="fill-current w-4 h-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
      <a href="/{{ page.lang }}/" class="font-plex font-bold text-xl pt-1 md:pt-1">
        <img
          src="/_assets/img/logo.gif"
          class="object-contain"
          height="59px"
          alt="Officina Kreuzberg"
          title="Officina Kreuzberg"
        />
      </a>
    </div>
    <div
      id="sidebar"
      class="flex-col ml-6 md:flex-row md:grow md:justify-end hidden md:flex text-smc font-bold font-hany"
    >
      <a
        href="/{{ page.lang }}/"
        class="py-2 px-4 my-3 mr-5"
        hx-get="/en/"
        hx-select="main"
        hx-target="main"
        hx-swap="outerHTML show:top"
        hx-push-url="true"
      >
        Home
      </a>
      <a
        href="/{{page.lang}}/about"
        class="py-2 px-4 my-3 mr-5"
        hx-get="/{{page.lang}}/about"
        hx-select="main"
        hx-target="main"
        hx-swap="outerHTML show:top"
        hx-push-url="true"
      >
        {{ menu.about }}
      </a>
      <a
        href="/en/collective"
        class="py-2 px-4 my-3 mr-5"
        hx-get="/en/collective"
        hx-select="main"
        hx-target="main"
        hx-swap="outerHTML show:top"
        hx-push-url="true"
      >
        {{ menu.collective }}
      </a>
      <!-- <a
        href="/en/artists"
        class="py-2 px-4 my-3 mr-5"
        hx-get="/en/artists"
        hx-select="main"
        hx-target="main"
        hx-swap="outerHTML show:top"
        hx-push-url="true"
      >
        {{ menu.artists }}
      </a> -->
      <a
        href="/en/events"
        class="py-2 px-4 my-3 mr-5"
        hx-get="/en/events"
        hx-select="main"
        hx-target="main"
        hx-swap="outerHTML show:top"
        hx-push-url="true"
      >
        {{ menu.events }}
      </a>
      <a
        href="https://www.instagram.com/officinakreuzberg/"
        target="_blank"
        class="py-2 px-4 my-3 mr-5 bg-yellow-custom border-2 border-black"
      >
        Instagram
      </a>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSe_aJwPcxRE_1LtocSHlrjHqDOQhm763ElOiURhH6KCOzL96g/viewform"
        target="_blank"
        class="w-2/3 md:w-auto bg-black text-white py-2 px-4 my-3"
      >
        Get in touch
      </a>
    </div>
  </div>
</header>
