<header class="z-900 flex bg-white fixed top-0 inset-x-0 z-100 h-16 items-center">
  <div class="w-full max-w-screen-xl relative mx-auto px-6 flex flex-row">
    <div class="flex">
      <a href="/en/"><div><img class="object-contain h-16" src="/_assets/img/logo.png" /></div></a>
    </div>
    <div class="flex flex-grow justify-end">
      <a href="/en/gallery" class="py-2 px-4 my-3 mr-5">Gallery</a>
      <a href="/en/artists" class="py-2 px-4 my-3 mr-10">Artists</a>
      <a href="#contact" class="bg-black text-white rounded-full py-2 px-4 my-3">Get in touch</a>
    </div>
  </div>
</header>
