<div class="h-full max-w-screen-xl mx-auto flex flex-col mb-3">
  <div class="flex flex-row mb-12">
    <div class="w-1/3">
      <img src="/_assets/img/home.png" class="object-fill w-full h-48" />
    </div>
    <div class="w-2/3 p-8">
      <h3 class="font-plex font-bold italic text-5xl">
        Concert / events
      </h3>
      <p class="font-plex text-sm">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <button class="text-white bg-black rounded-full px-8 py-2 mt-4">Learn more</button>
    </div>
  </div>
  <div class="flex flex-row mb-12">
    <div class="w-2/3 p-8">
      <h3 class="font-plex font-bold italic text-5xl">
        Working together
      </h3>
      <p class="font-plex text-sm">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <button class="text-white bg-black rounded-full px-8 py-2 mt-4">Learn more</button>
    </div>
    <div class="w-1/3">
      <img src="/_assets/img/home.png" class="object-fill w-full h-48" />
    </div>
  </div>
  <div class="flex flex-row">
    <div class="w-1/3">
      <img src="/_assets/img/home.png" class="object-fill w-full h-48" />
    </div>
    <div class="w-2/3 p-8">
      <h3 class="font-plex font-bold italic text-5xl">
        Exhibitions
      </h3>
      <p class="font-plex text-sm">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <button class="text-white bg-black rounded-full px-8 py-2 mt-4">Learn more</button>
    </div>
  </div>
</div>