<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <title>Officina NKLN</title>
  </head>
  <body class="text-gray-900 leading-normal">
    <header class="z-900 flex bg-white fixed top-0 inset-x-0 z-100 h-16 items-center">
      <div class="w-full max-w-screen-xl relative mx-auto px-6 flex flex-row">
        <div class="flex">
          <a href="/"><div><img class="object-contain h-16" src="/_assets/img/logo.png" /></div></a>
        </div>
        <div class="flex flex-grow justify-end">
          <a href="#contact" class="bg-black text-white rounded-full py-2 px-4 my-3">Get in touch</a>
        </div>
      </div>
    </header>
    <div class="w-full mt-16">
      {{ content | safe }}
    </div>
    {% include 'contact.njk' %}
    <footer>
      Copyright 2020
    </footer>
    <script src="/bundle.js"></script>
  </body>
</html>