<!doctype html>
<html lang="{{ locale }}">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <title>Officina NKLN</title>
  </head>
  <body class="text-gray-100 leading-normal">
    <h1>{{ title }}</h1>
    {{ content }}
    <script src="/bundle.js"></script>
  </body>
</html>