<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <title>Officina NKLN</title>
  </head>
  <body class="text-gray-900 leading-normal font-plex">
    {% include 'header.njk' %}
    <div class="w-full mt-16">
      {{ content | safe }}
    </div>
    {% include 'contact.njk' %}
    <footer>
      Copyright 2020
    </footer>
    <script src="/bundle.js"></script>
  </body>
</html>