<div class="h-full min-h-full relative z-10 pb-48 bg-yellow-custom md:bg-transparent">
  <div class="h-full max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row md:gap-8 lg:gap-16">
    <div class="md:w-1/4 mt-2 mb-8">
      <h2 class="leading-none font-bold italic text-5xl text-black w-40">
        {{ how_it_works_title or "How it works" }}
      </h2>
      <p class="text-smc text-black mt-6 leading-6">
        {{ how_it_works_description or we_share_skills_description }}
      </p>
    </div>
    <div class="md:w-3/4 grid gap-10 md:grid-cols-2 lg:grid-cols-3 md:items-start">
      <div>
        <h3 class="font-bold text-lgc mb-4">{{ collective_title or "The collective" }}</h3>
        <p class="text-smc leading-6">
          {{ the_collective }}
        </p>
        <a
          href="/en/collective"
          class="text-white text-smc font-bold bg-black px-8 py-2 mt-4 inline-block transition-colors duration-150 hover:bg-blue-custom"
        >{{ collective_cta or "Learn more" }}</a>
      </div>
      <div>
        <h3 class="font-bold text-lgc mb-4">{{ events_title or "Events" }}</h3>
        <p class="text-smc leading-6">
          {{ events }}
        </p>
        <a
          href="/en/events"
          class="text-white text-smc font-bold bg-black px-8 py-2 mt-4 inline-block transition-colors duration-150 hover:bg-blue-custom"
        >{{ events_cta or "Learn more" }}</a>
      </div>
      <div>
        <h3 class="font-bold text-lgc mb-4">{{ residency_title or "Artist residency (archive)" }}</h3>
        <p class="text-smc leading-6">
          {{ art_residency }}
        </p>
        <a
          href="/en/artists"
          class="text-white text-smc font-bold bg-black px-8 py-2 mt-4 inline-block transition-colors duration-150 hover:bg-blue-custom"
        >{{ residency_cta or "Learn more" }}</a>
      </div>
    </div>
  </div>
</div>
