<div class="h-full min-h-full relative z-10 mb-64">
  <div class="h-full max-w-screen-xl mx-auto flex flex-row">
    <div class="w-1/5 mt-2">
      <h2 class="font-plex font-bold italic text-5xl text-black">
        What we do
      </h2>
      <p class="font-plex text-sm text-black">
        Here are some photos for you to check out our space at Officina.
      </p>
      <button class="text-white font-bold bg-black px-8 py-2 mt-4">Have a peak</button>
    </div>
    <div class="w-2/5 ml-16">
      <div class="mb-10">
        <h3 class="font-plex font-bold text-lg mb-4">Exhibitions</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="mb-10">
        <h3 class="font-plex font-bold text-lg mb-4">Working together</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div>
        <h3 class="font-plex font-bold text-lg mb-4">Concerts & Events</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</div>