<div class="h-full min-h-full relative z-10 mb-48">
  <div class="h-full max-w-screen-xl mx-auto flex flex-row">
    <div class="w-1/5 mt-2">
      <h2 class="leading-none font-bold italic text-6xl text-black">
        What we do
      </h2>
      <p class="text-sm text-black">
        Since its inception, Officina Neukölln stands for shared influences.
      </p>
      <button class="text-white font-bold bg-black px-8 py-2 mt-4">Have a peak</button>
    </div>
    <div class="w-2/5 ml-16">
      <div class="mb-10">
        <h3 class="font-bold text-lg mb-4">Exhibitions</h3>
        <p>
          Creativity is strongly promoted and inspired by exhibitions and workshops as moments of interaction and sharing. we share skills! During scheduled workshops members of the network and resident artists teach others their area of creative practice. During the exhibitions the distinction between creator and spectator is minimised as artists, producers and audience members work together or interact.
        </p>
      </div>
      <div class="mb-10">
        <h3 class="font-bold text-lg mb-4">Working together</h3>
        <p>
          We don’t just work in the same room; we exchange. Eating together in the same space as we work has become an important practice for this. The community we form in this way is the same that activates to organize all the public program of Officina.
        </p>
      </div>
      <div>
        <h3 class="font-bold text-lg">Concerts & Events</h3>
        <p>
          public events are mainly an occasion for offering a stage to other artists to share their work (through exhibitions, screenings, performances or concerts) or to the members of officina to show their work-in-progress to a wider public. 
          The Artists’ Residency program is open to Berlin’s artist community through the open call we publish on our website and other platforms. Through the residency program we offer the selected artists the possibility to be with us on a daily basis for two months and to be an active part of our projects as individuals or as a community. The Officina residency is a space for creativity, experimentation and analogue production.
        </p>
      </div>
    </div>
  </div>
</div>