@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

.z-900 {
  z-index: 900;
}

.font-plex {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

.text-salmon {
  color: #F7C2AA;
}

.bg-blue-custom {
  background-color: #4D4DC3;
}

.bg-yellow-custom {
  background-color: #FDFF00;
}

.text-blue-custom {
  color: #4D4DC3;
}

.bg-yellow-circle::after {
  content: "";
  border-radius: 50%;
  background-color: #FDFF00;
  width: 1em;
  position: absolute;
  bottom: -80em;
  left: -25em;
  height: 110rem;
  width: 110rem;
  -webkit-user-selectz-index: 1;
}

@media (max-width: 639px) {
  .bg-yellow-circle::after {
    content: "";
    border-radius: 50%;
    background-color: #FDFF00;
    width: 1em;
    position: absolute;
    bottom: -43em;
    left: -25em;
    height: 49rem;
    width: 50rem;
    -webkit-user-selectz-index: 1;
  }
}

.-bottom-4 {
  bottom: -4em;
}

.-right-4 {
  right: -4em;
}