/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

.z-900 {
  z-index: 900;
}

.font-plex {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

.text-salmon {
  color: #F7C2AA;
}

.bg-blue-custom {
  background-color: #4D4DC3;
}

.text-blue-custom {
  color: #4D4DC3;
}

.bg-yellow-circle::after {
  content: "";
  border-radius: 50%;
  background-color: #FDFF00;
  width: 1em;
  position: absolute;
  bottom: -30em;
  left: -11em;
  height: 60rem;
  width: 60rem;
  z-index: 1;
}

.bg-blue-triangle::after {
  content: "";
  background-color: #4D4DC3;
  width: 190%;
  height: 30em;
  position: absolute;
  left: -4em;
  bottom: 14em;
  z-index: 2;
  transform: rotate(-9deg) scaleX(-1);
}