@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

.z-900 {
  z-index: 900;
}

.font-plex {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-display: swap;
}

.text-salmon {
  color: #f7c2aa;
}

.bg-blue-custom {
  background-color: #4d4dc3;
}

.bg-yellow-custom {
  background-color: #fdff00;
}

.text-blue-custom {
  color: #4d4dc3;
}

.bg-yellow-circle::after {
  content: '';
  border-radius: 50%;
  background-color: #fdff00;
  width: 1em;
  position: absolute;
  bottom: -80em;
  left: -25em;
  height: 110rem;
  width: 110rem;
  -webkit-user-selectz-index: 1;
}

@media (max-width: 639px) {
  .bg-yellow-circle::after {
    content: '';
    border-radius: 50%;
    background-color: #fdff00;
    width: 1em;
    position: absolute;
    bottom: -41em;
    left: -25em;
    height: 49rem;
    width: 50rem;
    -webkit-user-selectz-index: 1;
  }
}

@media (min-width: 768px) {
  .md\:overflow-unset {
    overflow: unset;
  }
}
