---
layout: layout.njk
permalink: /en/artists/index.html
---
{% set bg = cycler("bg-blue-custom", "bg-white") %}
{% set txt = cycler("text-white", "text-blue-custom") %}
<div class="max-w-screen-xl mx-auto">
  <h1 class="font-plex font-bold italic text-6xl leading-none">Artists</h1>
</div>
<div class="flex flex-col">
  {%- for artist in collections.artist -%}
    <div class="{{ bg.next() }} h-64">
      <div class="max-w-screen-xl mx-auto {{ artist.data.background }}">
        <h2 class="{{ txt.next() }}">
          {{ artist.data.name }}
        </h2>
        <div>
          {{ artist.content }}
        </div>
      </div>
    </div>
  {%- endfor -%}
  </ul>
</div>